<div class="colors-area">
  <div class="option" 
    *ngFor="let item of colors"
    [class.chosen]="item === selectedColor"
    (click)="selectColor(item)"
    >{{item}}</div>
</div>
<div class="fonts-area">
  <div class="option" 
  *ngFor="let item of fonts"
  [class.chosen]="item === selectedFont"
  (click)="selectFont(item)"
>{{item}}</div>
</div>
<div class="sizes-area">
  <div class="option" 
    *ngFor="let item of sizes"
    [class.chosen]="item === selectedSize"
    (click)="selectSize(item)"
    >{{item}}</div>
</div>
<div class="document-area">
  <textarea
    [style.color]="selectedColor"
    [style.font-family]="selectedFont"
    [style.font-size]="selectedSize"
  ></textarea>
</div>