:host {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

div {
    border: 1px solid lightgray; 
    margin: 5px;
    border-radius: 5px;
}

.title-area {
    grid-column: 1 / -1;
}

.document-area {
    grid-column: 1 / -1;
    display: grid;
}