<div class="title-area">
  <app-title 
    (tripleClicked)="onSpecialTitleEvent($event)"
    [color]="selectedColor" caption="Notepad +++"></app-title>
</div>
<div class="colors-area">
  <app-string-selector [options]="colors"
    [selectedOption]="selectedColor"
    (selection)="selectColor($event)"
  />
</div>
<div class="fonts-area">
  <app-string-selector [options]="fonts"
    [selectedOption]="selectedFont"
    (selection)="selectFont($event)"
  />
</div>
<div class="sizes-area">
  <app-string-selector [options]="sizes"
    [selectedOption]="selectedSize"
    (selection)="selectSize($event)"
  />
</div>
<div class="document-area">
  <textarea
    [style.color]="selectedColor"
    [style.font-family]="selectedFont"
    [style.font-size]="selectedSize"
  ></textarea>
</div>