:host {
    width: 150px;
    height: 120px;
    display: grid;
    grid-template-rows: 1fr auto auto;
    border: 2px solid black;
    margin: 8px;
    border-radius: 8px;
    overflow: hidden;
}

img {    
    object-fit: cover;
    grid-row: 1 / -1;
    grid-column: 1;
    width: 100%;
    height: 100%;
}

h1 {
    grid-column: 1;
    grid-row: 2;
    z-index: 10;
    background-color: white;
    opacity: 0.8;
    font-size: 20px;
    padding: 4px;
}

span {
    grid-column: 1;
    grid-row: 3;
    z-index: 10;
    background-color: lightgray;
    opacity: 0.8;
    padding: 4px;
}

