<input type="number" #redBox />
<input type="number" #greenBox />
<input type="number" #blueBox />
<button
  (click)="
    addCircle(
      redBox.valueAsNumber,
      greenBox.valueAsNumber,
      blueBox.valueAsNumber
    )
  "
>
  Add
</button>
<button
  (click)="
    changeCircle(
      redBox.valueAsNumber,
      greenBox.valueAsNumber,
      blueBox.valueAsNumber
    )
  "
>
  Change
</button>

<button (click)="deleteLast()">Delete</button>

<div class="circles">
  <app-circle
    *ngFor="let c of colors"
    [red]="c[0]"
    [green]="c[1]"
    [blue]="c[2]"
  />
</div>
