:host {
    display: grid;
    grid-template-columns: 200px 300px;
    grid-template-rows: auto auto 200px 1fr;
    margin: 20px;
}

.toolbar {
    grid-row: 1;
    grid-column: 1 / -1;
}

h1 {
    grid-row: 2;
    grid-column: 1 / -1;
    text-align: center;
    background-color: rgb(208, 211, 225);
    padding: 4px;
}

img {
    grid-row: 3;
    grid-column: 1;

    width: 200px;
    height: 200px;
    object-fit: contain;
    background-color: rgb(142, 145, 175);

}

p {
    grid-row: 3;
    grid-column: 2;
    background-color: rgb(238, 240, 245);
    padding: 4px;
}

