<div class="win" *ngIf="gameState === 'Win'">
    <h1>You Win</h1>
    <h2>The secret was {{secret}}</h2>
    <h2>You guessed it in {{guesses.length}} guesses</h2>
</div>

<div class="lose" *ngIf="gameState === 'Lost'">
    <h1>Sorry, You Lost</h1>
    <h2>The secret was {{secret}}</h2>
</div>

<div class="init" *ngIf="gameState === 'Init'">
    <h1>Welcome to the guessing game</h1>    
</div>

<button
    (click)="startGame()"
    *ngIf="gameState !== 'In Progress'"
>Start New Game</button>

<div class="in-progress" *ngIf="gameState === 'In Progress'">
    <input #guessBox type="number" (keydown.enter)="
        submitGuess(guessBox.valueAsNumber); 
        guessBox.value = ''">
    <button (click)="
        submitGuess(guessBox.valueAsNumber);
        guessBox.value = '';
        guessBox.focus();
        
        ">Yalla</button>

    <div class="guesses-list">
        <ol>
            <li *ngFor="let guess of guesses"
                [class.too-high]="guess.state === 'Too High'"
                [class.too-low]="guess.state === 'Too Low'"
            >
                {{guess.value}} ({{guess.state}})
            </li>    
        </ol>
    </div>
</div>